{% if item.type == "photo" %}
<div class="gallery-item mosaic-item" data-type="photo" data-url="{{ item.url }}" data-alt="{{ item.alt }}">
  <img class="gallery-image" src="{% if item.thumbnail_url %}{{ item.thumbnail_url }}{% else %}{{ item.url }}{% endif %}" alt="{{ item.alt }}" loading="lazy">
</div>
{% elsif item.type == "video" %}
<div class="gallery-item mosaic-item video-item {% unless item.thumbnail %}no-thumbnail{% endunless %}" data-type="video" data-url="{{ item.url }}" data-alt="{{ item.alt }}" {% if item.thumbnail %}data-thumbnail="{{ item.thumbnail }}"{% endif %}>
  <div class="video-wrapper">
    <video class="gallery-video" preload="metadata" muted loop>
      <source src="{{ item.url }}" type="video/mp4">
    </video>
    {% if item.thumbnail %}
    <img class="video-thumbnail" src="{{ item.thumbnail }}" alt="{{ item.alt }}" loading="lazy">
    {% endif %}
    <div class="video-icon">
      <img src="{{ '/assets/svg/video.svg' | relative_url }}" alt="Video icon">
    </div>
  </div>
</div>
{% endif %}

